body{
background-color: 	#E6E6FA
}
h1{
  text-align: center; color: purple;
  font-family: Snell Roundhand,fantasy;
}
img{
width: 250px!important;
height: 300px!important;
}

img {
  display: flex;
}
h2{
font-family: Snell Roundhand, cursive;
font-size: 50px;
}
